.git
.idea
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
tests/__pycache__
internet_shop/__pycache__
internet_shop/controllers/__pycache__
internet_shop/repositories/__pycache__
internet_shop/services/__pycache__
.venv
venv
env
ENV
